@model AddToMyWebCart.IdentityViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div class="container-fluid">
    <div class="row col-lg-12">
        <span class="h4">Identity Register</span>
    </div>
    <div class="mt-2 row border-bottom col-lg-12"></div>
    <div class="row form-signin mt-3">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.LabelFor(Model => Model.Username)
                    @Html.TextBoxFor(Model => Model.Username, new { placeholder = "User Name", @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Username)
                </div>

                <div class="col-md-6 form-group">
                    @Html.LabelFor(Model => Model.Password)
                    @Html.TextBoxFor(Model => Model.Password, new { placeholder = "Password", @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Password)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(Model => Model.ConfirmPassword)
                    @Html.TextBoxFor(Model => Model.ConfirmPassword, new { placeholder = "ConfirmPassword", @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.ConfirmPassword)
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(Model => Model.Email)
                    @Html.TextBoxFor(Model => Model.Email, new { placeholder = "Email", @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Email)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(Model => Model.Mobile)
                    @Html.TextBoxFor(Model => Model.Mobile, new { placeholder = "Mobile", @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Mobile)
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(Model => Model.Address)
                    @Html.TextBoxFor(Model => Model.Address, new { placeholder = "Address", @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Address)
                </div>
            </div>
            <div class="row form-signin">
                <div class="form-group col-md-6">
                    @Html.LabelFor(Model => Model.City)
                    @Html.TextBoxFor(Model => Model.City, new { placeholder = "City", @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.City)
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(Model => Model.Country)
                    @Html.TextBoxFor(Model => Model.City, new { placeholder = "Country", @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Country)
                </div>
            </div>
            @Html.ValidationSummary()
            <div class="row form-signin">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        }
    </div>
</div>