@model AddToMyCart.ViewModels.UserViewModel
@{
    ViewBag.Title = "Change Profile";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid">
    <div class="row col-lg-12">
        <span class="h4">Change Profile</span>
    </div>
    <div class="mt-2 row border-bottom col-lg-12"></div>
    <br />
    <div class="row form-signin">
        <form class="needs-validation" action="/account/ChangeProfile" novalidate="novalidate" method="post" enctype="multipart/form-data" name="changeProfileForm" id="changeProfileForm">
            @Html.HiddenFor(Model => Model.UserID)

            <div class="row ml-1">
                <label for="CurrentPicture">Current Picture</label>
            </div>
            <div class="row ml-1">

                <div class="form-group img-thumbnail">
                    @{
                        var base64 = Convert.ToBase64String(Model.ProfilePicture);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src="@imgSrc" class="figure-img" height="200" width="200" />
                </div>
            </div>

            <div class="row ml-1">
                <div class="form-group">
                    <label for="ProfilePicture">Profile Picture</label>
                    <input type="file" id="ProfilePicture" name="ProfilePicture" class="form-control-file btn btn-primary" accept="image/*" />
                </div>
            </div>
            <div class="row ml-1">
                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input id="FirstName" name="FirstName" type="text" autofocus="autofocus" placeholder="First Name" class="form-control" required="required" value="@Model.FirstName" />
                    <div class="valid-feedback">
                        Looks Good
                    </div>
                    <div class="invalid-feedback">
                        Please enter correct email
                    </div>
                </div>
                <div class="form-group ml-2">
                    <label for="LastName">Last Name</label>
                    <input id="LastName" name="LastName" type="text" placeholder="Last Name" class="form-control" required="required" value="@Model.LastName" />
                    <div class="valid-feedback">
                        Looks Good
                    </div>
                    <div class="invalid-feedback">
                        Please enter password
                    </div>
                </div>
            </div>
            <div class="row ml-1">
                <div class="form-group">
                    <label for="Mobile">Mobile</label>
                    <input id="Mobile" name="Mobile" type="text" placeholder="Mobile" class="form-control" required="required" value="@Model.Mobile" />
                    <div class="valid-feedback">
                        Looks Good
                    </div>
                    <div class="invalid-feedback">
                        Please enter correct email
                    </div>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
        </form>
        @Html.ValidationSummary()
    </div>
</div>